<div class="card">

    <div class="card-header">
        <div class="row">
            <div class="col-md-12 text-center main_title title">
                <h3> Productos </h3>
            </div>
        </div>

        <app-actions #productActions [$userId]=""
        (productOutput)="productIndex.setProductos($event);"
        (resetOutput)="productIndex.reset()"
        (categoryOutput)="productIndex.setCategory($event)">

        </app-actions>

    </div>
    
    <div class="card-body">
        <app-productos #productIndex [$userId]=""
        (editOutput)="productActions.edit($event)"
        (deleteOutput)="productActions.delete($event)">
        </app-productos>
    </div>
</div>