
<app-search></app-search>

<br><br>

<div class="card">

    <div class="card-header">
        <div class="row">
            <div class="col-md-12 text-center title">
                <h3> Mis Productos </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 myProducts">            
                <app-select></app-select> <!-- Categorias -->
                <app-create></app-create>
            </div>
        </div>
    </div>
    
    <div class="card-body">
        <app-productos></app-productos>
    </div>
</div>