<div class="row">
    <div class="col-md-12 actions">

        <input class="form-control" type="text" placeholder="Correo" #userCorreo>

        <button class="btn btn-success centerBtn"
            (click)="loadingSearch=true; search(userCorreo.value)">
            <b> Search </b>
            <i *ngIf="loadingSearch, else noChargingSearch" class="fa fa-refresh fa-lg fa-spin"></i>
            <ng-template #noChargingSearch>
                <i class="fa-lg bi bi-search"></i>
            </ng-template>
        </button>

        <button class="btn btn-round my-bg-primary centerBtn"
        (click)="routeService.goToDashboard('usuarios/crear')">
            Crear <i class="fa fa-lg fa-plus"></i>
        </button>

        <button *ngIf="cancelar" class="btn btn-round bg-danger cancel"
        (click)="reset()">
            <i class="fa-lg bi bi-slash-circle"></i>
        </button>
    </div>
</div>