<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-12 text-center main_title title">
          <h3 *ngIf="!$role; else register"> Crear usuario 
            <button style="margin-left: 10px" class="btn btn-round bg-danger cancel"
            (click)="reset()">
              <i class="fa-lg bi bi-slash-circle"></i>
            </button>
          </h3>
          <ng-template #register> Registro 
            <button style="margin-left: 10px" class="btn btn-round bg-danger cancel"
            (click)="refresh()">
              <i class="fa-lg bi bi-slash-circle"></i>
            </button>
          </ng-template>
      </div>
  </div>
  </div>
  <div class="card-body">
    <form [formGroup]="createForm" (ngSubmit)="loadingCreate = true; create()">

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="font-weight-bold"> Nombre </label>
            <input type="text" class="form-control" formControlName="nombre">
            <app-form-error-msg [myFormControl]="createForm.get('nombre')"></app-form-error-msg>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label class="font-weight-bold"> Correo </label>
            <input type="text" class="form-control" formControlName="correo">
            <app-form-error-msg [myFormControl]="createForm.get('correo')"></app-form-error-msg>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="font-weight-bold"> Contraseña </label>
            <input type="password" class="form-control" formControlName="password">
            <app-form-error-msg
                [myFormControl]="createForm.get('password')">
            </app-form-error-msg>
          </div>
        </div>

        <div class="col-md-6">
          <div [class]="($role) ? 'form-group invisible' : 'form-group'">
            <label class="font-weight-bold"> Rol </label>
            <select class="form-select" formControlName="rol">
              <option *ngFor="let role of $roles" [ngValue]="role">
               {{ role }}
              </option>
            </select> 
            <app-form-error-msg [myFormControl]="createForm.get('rol')"></app-form-error-msg>
          </div>
        </div>
      </div>
    
      <br>
    
      <div class="text-end">
          <button type="submit" class="btn btn-round login-btn my-bg-primary"
          [disabled]="createForm.invalid">
            Login <i *ngIf="loadingCreate" class="fa fa-refresh fa-lg fa-spin"></i>
          </button>
      </div>
    
    </form>
  </div>
</div>