<div class="card">

    <div class="card-header">
        <div class="row">
            <div class="col-md-12 text-center main_title title">
                <h3> Categorias </h3>
            </div>
        </div>

        <app-actions #categoryActions
        (nameOutput)="categoryIndex.setCategories($event);"
        (resetOutput)="categoryIndex.reset()">

        </app-actions>

    </div>
    
    <div class="card-body">
        <app-categorias #categoryIndex
        (editOutput)="categoryActions.edit($event)"
        (deleteOutput)="categoryActions.delete($event)">
        </app-categorias>
    </div>
</div>