<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>

    <div class="card-body">

    </div>
</div>