/* You can add global styles to this file, and also import other style files */
@import 'node_modules/@swimlane/ngx-datatable/index.css';
@import 'node_modules/@swimlane/ngx-datatable/assets/icons.css';
@import 'node_modules/@swimlane/ngx-datatable/themes/bootstrap.css';

@font-face {
    font-family: insaniburger;
    src: url(assets/fonts/insaniburger/Insanibu.ttf);
}

/** BOOTSTRAP **/
.container{
    margin-top: 72px;
}
/** /BOOTSTRAP/ **/

.card-header{ border-color: transparent; }

.full-img {
    background-size: 100% 100%;
}

html {
    --font_primary: insaniburger;
    --font_secondary: 'Montserrat';

    --color_primary: #f96332;
}

.my-bg-primary{
    background-color: var(--color_primary);
    font-weight: bolder;
    color: white;
}

.my-bg-primary:hover{
    color: white;
}

.font-weight-bold {
    font-weight: bold;
}

.main_title {
    text-align: center;
    font-size: 4vw;
    font-family: var(--font_primary);
}

.centerBtn{
    display: flex;
    align-items: center;
    gap: 5px;
}

.cancel{
    color: white;
    font-weight: bold;
}

.cancel:hover{
    color: white;
    font-weight: bold;
}

.actions{
    display: flex;
    gap: 20px;
}

.title{
    margin-top: 15px;
    margin-bottom: 15px;
}

/* LOADER */
.loader{
    position: absolute;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid var(--color_primary);
    border-color: var(--color_primary) transparent var(--color_primary) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }